<div class = "top-background">
<!--   d-flex justify-content-center align-items-center
 -->
  <h1 class = "title">Milktea Museum</h1>
  <a class = "add  btn btn-outline-secondary text-decoration-none text-black"href="/cocktails/new">Add new milktea></a>
</div>
<div class = "body">

  <% @cocktails.each do|cocktail| %>

  <div class="card">
    <i class="fas fa-wine-glass-alt"></i>
    <p class = "milktea_name"><%=link_to cocktail.name, cocktail_path(cocktail)%></p>
    <span>
    <!--   <%= link_to "Delete", cocktail_path(cocktail),
          method: :delete,
          data: { confirm: "Are you sure you want to delete it?" },
          class: "trash"
          %> -->
    <a data-confirm="Are you sure you want to delete it?" class="trash" rel="nofollow" data-method="delete" href="/cocktails/10">Delete</a>
     </span>
  </div>

  <%end%>
</div>
