// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-background {
  background-image: url("https://images.unsplash.com/photo-1554675427-1d637bdb5a12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=673&q=80");
  background-image:cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  text-align:center;
  height:500px;
  margin-bottom:10px;
  opacity:0.8;
}
.title{
font-family:'Permanent Marker', cursive;
color:black;
font-size:50px;
padding-top:200px;
}


.btn {
  text-decoration:none;
  color:white;
  list-style: none;
  color:white;
}

.card {
  height:300px;
  width:100%;
  text-align:center;
  text-decoration:none;
  border-radius: 10px;
  border:1px,solid, rgb(200,200,200);
  background-color:#FAF5EF;
  opacity:0.8;
}
span:hover{
  text-decoration:none;
}

// .body {
//   align-items:center;
//   flex-wrap:wrap;
//   justify-content:space-around;
// }
.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.add {
font-family: 'Lobster', cursive;
font-weight: bold;
opacity:1;
border-radius:3px;
}
.add:hover {
  background-color:#FADB70;
  border: none;
}

.milktea_name{
font-family: 'Lobster', cursive;
font-weight:bold;
font-size:30px;
}

.trash {
  text-decoration:none
}
.trash:hover{
  text-decoration:none
}

a{
  color:black;
}

.card a:hover {
  color:grey;

}
